
.container-layout {
    width: 100%;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);
    padding: 2rem 0;
    margin: 2rem 0 5rem;
    transform: rotate(-4deg);
    text-align: center;
    font-size: 30px;
    color: white;
}