
.container-sidebar {
    margin: 0 auto 4rem;
    background-color: wheat;
    padding: 0.5rem 0;

    ul {
        display: flex;
        justify-content: center;

        li {
            margin:  0 1rem;
            list-style-type: none;
        }
    }
}